* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.square {
    background: grey;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin:5px 5px 5px 0px;
}

.square:first-child {
    background: red;
}

.square:nth-child(2) {
    background: yellow;
}
.square:last-child {
    background: green;
}

.container-all-squares {
    width: 30%;
}

@media only screen and (min-width:768px) {
    .container-all-squares {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .square:first-child {
        background: purple;
    }
    
    .square:nth-child(2) {
        background: cyan;
    }
    .square:last-child {
        background: blue;
    }
    
  
}

@media only screen and (min-width:1024px) {
    .container-all-squares {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    
    .square {
        border-radius: 50px;
        margin-left: 5px;
    }

    .square:first-child {
        background: blue;
    }
    
    .square:last-child {
        background: green;
    }
    
 
}